:root {
  --primary-color: #fcddb0;
  --second-color: #ff9f9f;
  --accent-color: #e97777;
  --background-color: #fffad7;
  --font-color: #e97777;
  --link-color: green;
  --main-font: font;
}
